body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6c63ff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #554ce6;
}

#responseText {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
